body {
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF69if_Twko6rAq50HpFdc6iqoDzJWLUVSVjZY_gFbxbAVheQ9YQ"); */
    background-repeat: no-repeat;
    background-size: cover;
  }
.card-body {
      position: center;
  }